{% extends "admin/base.html" %}
{% block title %} Logueo {% endblock %}
{% block branding %}
<div id="logotipo" style="width:1200px; text-align: center;float: center"> <p><a href="" style="font-family: sourcesans-light;font-size: 20px;color: #FFFFFF;">Sistema de gestión de buses alimentadores de un sistema BRT </a></p>
</div>
{% endblock %}

{% block content %}
	<h1>Logueo</h1>
	{% if message %}
	<b>{{message}}</b>
	{% endif %}
	<form action="" method="post">{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Submit" />
	</form>
{% endblock %}
