<!doctype>
<html> 
<head> 
	<meta charset="UTF-8">
	<meta name="description" content="Descripción del sitio">
    <meta name="keywords" content="Aqui, Palabras, Clave">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href= "{% static 'sistema/css/estilos.css'%}">
    <link rel="stylesheet" href= "{% static 'sistema/css/fonts.css'%}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{% static 'sistema/js/jquery.slides.js'%}"></script>

    <script>
    $(function(){
      $(".slides_container").slidesjs({        
      });
    });
  </script>

    <title>SISTEMA DE GESTION DE TRÁFICO</title>

</head> 
<body>
	<div class="contenedor">

		<header>
			<div id="subheader">
				<div id="logotipo"> <p><a href="">Sistema de gestión de buses alimentadores de un sistema BRT</a></p></div>								
				<nav>
					{% if user.is_authenticated %}
		    		<div id="log">Bienvenido, <b>{{user.username}} | <a href="{% url 'logout' %}">Logout</a></b> </div>
					{% else %}
		    		<div id="log">Bienvenido. Por favor <a href="{% url 'login' %}">log in </a></div>
					{% endif %}
				</nav>
			</div>
		</header>

		<section id="wrap">
			<section id="main">

				<section class="slideshow">
					<div class="slides_container">
						<img src="{% static 'sistema/images/slideshow/brt1.jpg'%}">
						<img src="{% static 'sistema/images/slideshow/brt2.jpg'%}">
					</div>

				</section>

				<section id="bienvenidos">
					<article>
						<hgroup><h2>Gestor de tráfico de rutas alimentadoras</h2></hgroup>
						<p>
							<ul>							
							    <li>El gestor de tráfico permite administrar la demanda de las rutas alimentadoras en tiempo real, para ofrecer mejores niveles de servicio a los usuarios principalmente durante las horas pico del sistema donde se requieren reducir los costes de viaje de los usuarios, haciendo más cómodo, accesible y eficiente el uso del transporte multimodal.</li><li> Además, permite optimizar el uso de los recursos del operador de transporte y del usuario a corto y mediano plazo.</li>

							</ul>
						</p>
					</article>
				</section>

				<section id="contenido">
					<article>
						<hgroup><h2 class="title">Sistema de monitoreo en tiempo real</h2></hgroup>
						<!--<p class="fecha">04 de octubre de 2016</p>-->
						<img class="thumb" src="{% static 'sistema/images/gestion_real_ok.png'%}" alt="ImgArticulo1"/>
						<p>
							Esta aplicación contiene un módulo de despacho en tiempo real, donde se recibe la información del flujo de usuarios en cada una de las rutas alimentadoras, mediante las solicitudes enviadas por parte de los módulos NFC conectados a cada parada. Los módulos NFC se encuentran configurados de acuerdo a los parámetros de operación de cada ruta, los cuales son actualizados según estudios de demanda realizados previamente. Esto le permite al operador de rutas despachar buses de acuerdo a la demanda real, así como registrar la llegada de los buses que realizan cada trayecto programado.
						</p>
					</article>
					<article>
						<hgroup><h2 class="title">Historial de datos del sistema</h2></hgroup>
						<!--<p class="fecha">04 de octubre de 2016</p>-->
						<img class="thumb" src="{% static 'sistema/images/parrafo2.jpg'%}" alt="ImgArticulo2"/>
						<p>
							El gestor permite analizar la información almacenada de la demanda del sistema. Se puede verificar cada uno de los indicadores que entrega el sistema, para poder tomar decisiones en torno a la programación de rutas a mediano y largo plazo.
						</p>
					</article>					
				</section>
,
				<aside>
					<section class="widget">
						<h3>Enlaces de operación</h3>
						<ul>
							<li><a href="{% url 'solicitudes' %}">Sistema de gestión real.</a></li>
							<li><a href="#">Análisis histórico de información.</a></li>													
							<li><a href={% url "admin:index" %} target="_blank">Administración del sistema.</a></li>						    
						</ul>
					</section>

					<section class="widget">
						<h3>Simulación del sistema</h3>
						<a title="Simulación" href="https://www.youtube.com/watch?v=gQopOxXoW_Y" target="_blank"><img src="{% static 'sistema/images/simulacion_ok.png'%}" alt="Simulación de la estación Banderas"></a>
					</section>
				</aside>
				
			</section>

			<footer>
				<section id="acerca_de">
					<article>
						<hgroup><h3>Acerca de esta página</h3></hgroup>
						<p>
							Esta página fue creada como parte del proyecto de grado titulado "Diseño de un modelo de gestión para los buses alimentadores de la estación Banderas, perteneciente al sistema Transmilenio de la ciudad de Bogota D.C, desarrollado por los estudiantes Brayan Jampaer Buitrago Latorre y John Alexander Gutierrez Lizarazo, como requisito para optar al título de Ingeniero Electrónico. Este proyecto fue dirigido por el PH.D. Roberto Ferro Escobar.
						</p>
					</article>
				</section>
				<section id="redes">
					<div class="udistrital"><a href="https://www.udistrital.edu.co/" target="_blank"></a></div>
					<div class="facultad"><a href="http://ingenieria1.udistrital.edu.co/udin1/" target="_blank"></a></div>
					<div class="lider"><a href="http://comunidad.udistrital.edu.co/grupolider/" target="_blank"></a></div>
					<div class="correo_inst"><a href="https://accounts.google.com/AddSession?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&hd=correo.udistrital.edu.co&sacu=1#identifier" target="_blank"></a></div>
				</section>
			</footer>

			<div id="Copyright"><p>Universidad Distrital Francisco José de Caldas</p>
			<p>Facultad de Ingeniería - Ingeniería Electrónica</p><p>2016</p></div>

		</section>
	</div>
<!--<script src="{% static 'sistema/js/intro.js'%}"></script>-->


</body> 
</html> 
